<section id="contact" class="footer_wrapper mt-3 mt-md-0">
  <div class="container">
    <div class="row">
      
      <div class="col-12 newsletter text-center px-4" [ngStyle]="{
        backgroundImage:'url(../assets/images/subscribe-bgs.png)'
      }"
      >
      <pre> 

      </pre>
        <div>
          <h3 class="text-white">get update from anywhere</h3>
          <p class="text-white">Bearing Void gathering light light his eavening unto dont afraid.</p>

          <form class="row g-3 justify-content-center mt-4">
            <div class="col col-sm-6 col-lg-4">
              <input type="email" class="form-control" placeholder="Email Address" value="manover786kamaal@gmail.com">
            </div>
            <div class="col col-auto">
              <button type="submit" class="main-btn secondary-btn border-white mb-3 first">Get
                Started</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 text-center">
        <div class="footer-logo mb-3 mb-md-0">
        <a href=""><img src="..\assets\images\logo.png"></a>  
        </div>
        <div class="my-4 social-icons">
          <h5>Follow Me</h5>
          <ul class="list-unstyled d-flex justify-content-center align-items-center">
            <li><a href="https://www.facebook.com/people/Manover-Kamaal/100008499960019/" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/in/manover-kamaal-38a955219/"  target="_blank"><i class="fab fa-linkedin"></i></a></li>   
            <li><a href="https://www.instagram.com/iammanover/?utm_medium=copy_link"  target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://wa.me/qr/K3P2RCOKIMMZK1"  target="_blank"><i class="fab fa-whatsapp"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 col-sm-12">
        <p class="footer-text text-center my-2">Copyright © 2022 All rights reserved | This template
          is made with <i class="far fa-heart"></i> by <a href="#">Manover kamaal</a>
        </p>

      </div>
    </div>
  </div>
</section>