<section id="home" class="banner" [ngStyle]="{
  backgroundImage:'url(../assets/images/home-banner.png)'
}">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-7 order-lg-1 order-2 banner-content">
        <pre> 

        </pre>
        <h2 class="text-uppercase position-relative">
          Hello
        </h2>

        <h1 class="text-uppercase "> I am Manover Kamaal</h1>
        <h5 class="text-uppercase">Frontend Developer</h5>
        <div class="mt-5">
          <a class="main-btn primary-btn second text-uppercase" href="">Hire me</a>
          <a class="main-btn secondary-btn ms-4 first text-uppercase" href="../assets/images/Manover's resume.pdf" download="manover's resume">Get CV</a>
        </div>
      </div>
      <div class="col-lg-5 order-lg-2 order-1">
        <div class="top-right-img">
          <img src="..\assets\images\home-right.webp" alt="banner" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- auto typing  -->


<!-- <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script>
      var typed = new Typed("#apperance-auto-type",{
      strings: ["Manover Kamaal","Frontend Developer"," (colab) Digital Marketing"],
      typeSpeed: 100,
      backSpeed: 100,
      loop: true
    })
    }
  </script> -->

