<section id="services" class="services_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-5">
                <pre>
                    
                </pre>
                <h2>SERVICE OFFERS</h2>
                <p>Is give may shall likeness made yielding spirit a itself togeth created after sea <br
                        class="d-none d-lg-block">
                    is in beast beginning signs open god you're gathering ithe</p>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4">
                <div class="card rounded-0 border-0 text-center py-5 px-3">
                    <div>
                        <img src="..\assets\images\services-img\mouse.webp">
                    </div>
                    <h5 class="text-uppercase mt-4 mb-3">Web DEVELOPment</h5>
                    <p>Currently I know HTML, CSS, JavaScript, Bootstrap, Angular </p>
                    <pre>  </pre>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4">
                <div class="card rounded-0 border-0 text-center py-5 px-3">
                    <div>
                        <img src="..\assets\images\services-img\ui-ux.webp">
                    </div>

                    <h5 class="text-uppercase mt-4 mb-3">UI/UX DESIGN</h5>
                    <p>Try to learn UI/UX DESIGN as soon as possible
</p>
                    <pre> </pre>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4">
                <div class="card rounded-0 border-0 text-center py-5 px-3">
                    <div>
                        <img src="..\assets\images\services-img\website.webp">
                    </div>
                    <h5 class="text-uppercase mt-4 mb-3">WEB DESIGN</h5>
                    <p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4">
                <div class="card rounded-0 border-0 text-center py-5 px-3">
                    <div>
                        <img src="..\assets\images\services-img\seo.webp">
                    </div>
                    <h5 class="text-uppercase mt-4 mb-3">SEO OPTIMIZE</h5>
                    <p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
                </div>
            </div>
        </div>
    </div>
</section>